
@{
    ViewData["Title"] = "DeleteFail";
}

<h1>You cannot delete an item that in a current pending offer!
    Cancel your offer in order to delete this item. Accept or
    decline an offer that was sent to you in order to delete this item.</h1>

